/*#############################################################
Name: Bitter Sweet
Date: 2006-10-02
Description: Lime flavoured template with two columns.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a { 
	color: #682;
}
a:hover {color: #9A6;}
body {
	background: #5F8000 url(img/bg.gif) repeat-y center top;
	color: #333;
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
}
input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}
p,cite,code,ul {
	font-size: 1.2em;
	padding-bottom: 1.2em;
}
ul {margin-left: 1.2em;}
li {list-style-image: url(img/li.gif);}
h1 {font-size: 1.4em;}
blockquote {
	background: #FFF;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 6px 12px;
}
blockquote p {padding: 3px 0;}
h1,h2,h3 {color: #654;}

/* misc */
.clearer {clear: both;}

/* structure */
.container {
	background: url(img/bgcontainer.gif) repeat-y;
	margin: 0 auto;
	width: 802px;
}

/* top */
.top {
	background: url(img/blue_stripe.png);
	font: normal 3.4em Verdana,sans-serif;
	height: 155px;
	margin: 0 auto;
	border-top: 2px solid white;
	width: 730px;
}
.top a {
	background: url(img/bluefoam_logo_hover_offset.png) no-repeat 0 0;
	color: #FFF;
	display: block;
	line-height: 155px;
	text-decoration: none;
	width: 100%;
}
.top span {
	padding-left: 24px;
	padding-right: 6px;
	background: url(img/black70.png) repeat;
}
.top a:hover {
	background-position: 0 -155px;
	//background: #688B00;
	color: #FFF;
}

/* header */
.header {
	background: url(img/header.jpg) no-repeat;
	height: 180px;
	margin: 0 auto;
	width: 730px;
}

.page-title {
	width: 670px;
	float: right;
	margin-right: 36px;
	padding-left: 60px;
	padding-bottom: 5px;
	border-top: 5px solid white;
	border-bottom: 8px solid white;
	background: #6B5D45;
	color: #fcfbd7;
	font-family: Verdana,sans-serif;
	font-size: 3em;
}

/* item */
.lone-image {
	margin-bottom: 3px;
}
.item {clear: both;}
.item .date {
	background: url(img/bgdate.gif) no-repeat;
	color: #FDD;
	float: left;
	height: 40px;
	text-align: center;
	width: 36px;
}
.item .invisible-date  {
	float: left;
	width: 36px;
	height: 1px;
}
.item .date div {padding-top: 4px;}
.item .date span {font: normal 1.6em serif;}
.item .content {
	float: left;
	width: 720px;
}
.item h1 {
	background: #006776;
	color: #FFF;
	line-height: 40px;
	padding-left: 16px;
}
.item .body {padding: 12px 18px;}

/* main */
.main {
	marign-top: 2px;
	float: left;
}

/* navigation */
.navigation {
	margin: 0 auto;
	border-top: 2px solid white;
	border-bottom: 1px solid white;
	width: 730px;
	height: 33px;
}
.navigation h1 {
	background: #179993;
	color: #FFF;
	font-size: 1.3em;
	line-height: 40px;
	padding-left: 12px;
	width: 20%;
	float: left;
}
.navigation ul {
	margin: 0;
	margin-bottom: 2px;
	padding: 0;
}
.navigation li {
	font-size: 1.1em;
	border-bottom: 1px solid #D5E8AD;
	border-right: 1px solid #D5E8AD; 
	list-style: none;
	width: 19.85%;
	float: left;
}
.navigation li a {
	background: #E8F6BF url(img/bgnavigation.gif) repeat-x;	
	color: #553;
	display: block;
	padding: 8px 4px 8px 12px;
	text-decoration: none;
	text-align: center;
}
.navigation li a:hover {
	background: #c5ee51;
	color: #553;
}

/* footer */
.footer {
	background: url(img/bgfooter.gif) repeat-x;
	color: #FFF;
	font-size: 1.1em;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 726px;
}
.footer a {color: #FFF;}
.footer a:hover {color: #FAFCB0;}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

a:hover img {
	border: 2px solid #BAAAA1;
}

a img {
	border: 2px solid #D5C9C2
}

img.floatLeft {
	margin: 5px 15px 10px 0;
}

img.floatRight {
	margin: 5px 0 10px 15px;
}
